@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Geolocation Testing.</h2>
</hgroup>

<article>
    <p>
        This web app is designed to take in your location and measure distance, time travelling and speed.
    </p>

    <p>
        Note that everything is purely under testing conditions and may not be accurate. Please do not use this for anything serious.
    </p>

    <p>
        Dedicated to my cutest honey bunny!
    </p>
</article>

<aside>
    <h3>Microsoft Imagine Cup Team</h3>
    <ul>
        <li>Ashwin Marwah</li>
        <li>Matthew Mills</li>
        <li>Alan Antwon</li>
        <li>Anna Zhirnova</li>
    </ul>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>